body {
    width: 100dvw;
    min-height: 100dvh;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden !important;
    background-color: #ecf0f1;
    color: #34495e;
    font-family:  'Verdana', sans-serif;
}

.btn-link {
    text-decoration: none;
    // color: #9b59b6;
}
